* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: #333;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

button:hover {
  cursor: pointer;
  background-color: #333;
  color: white;
  border: 1px solid whitesmoke;
}

main {
  max-width: 100%;
  margin: auto;
  display: flex;
}

section {
  margin-top: 1em;
  flex: 6;
  margin: 2%;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
  flex: 1;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.5em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
}

.reactionButton:hover {
  border: none;
  border-bottom: 1px solid whitesmoke;
}